<!DOCTYPE html>
<html>

<head>
	{{> header-assets }}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{frontmatter.title}}</title>
</head>

<body>
	{{> navigation}}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<h1>Hello From GraphQL</h1>
				<ul>
				{{#each this.query.data.pages}}
					<li><a href="{{this.relativePath}}">{{this.frontmatter.title}}</a></li>
				{{/each}}
				</ul>
			</div>
		</div>
	</div>
	{{> footer-scripts}}
</body>
</html>