<!DOCTYPE html>
<html>
<head>
	{{> header-assets}}
	<title>{{data.title}}</title>
</head>
<body>
	<custom-layout></custom-layout>
	<h1>This is the docs page</h1>
	<article>
		{{{body}}}
	</article>
</body>
</html>