<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal text-light">Raptorgen</h5>
	<h6 class="my-0 mr-md-auto font-weight-light text-light">A Minimalist Static Site Generator</h6>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-light" href="#">Features</a>
	</nav>
	<a class="btn btn-primary" href="#">Github</a>
</div>